* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.container {
    width: 100%;
    height: 700px;
    background-image: url('/assets/img/STARSHIP-1360.webp');
    background-repeat: no-repeat;
    background-size: cover;


    .containerTitles {
        padding: 400px 50px 50px 50px;

        h1 {
            text-align: left;
            color: #ffffff;
            font-family: 'Ropa Sans', sans-serif;
            font-size: 30px;
            padding: 10px;
            font-size: 40px;
        }
    
        h3 {
            text-align: left;
            color: #ffffff;
            font-family: 'Ropa Sans', sans-serif;
            padding: 10px;
        }
    
        h4 {
            text-align: left;
            color: #ffffff;
            font-family: 'Ropa Sans', sans-serif;
            padding: 10px;
        }
    }
}

main {
    width: 100%;
    height: auto;
    background-color: #000000;
    padding-bottom: 80px;

    .container-flex {
        display: flex;

            .img-starship {
                width: 400px;
                height: 300px;
                margin-top: 200px;
                background-image: url('/assets/img/starshipPhotoSmallMoreSmall.webp');
                background-repeat: no-repeat;
                background-size: cover;
            }
    }
    

    h1 {
        color: white;
        text-align: center;
        padding-top: 90px;
        font-family: 'Courier New', Courier, monospace;
    }

    .defi-container {
        width: 60%;
        
        h2 {
            color: white;
            padding: 100px 0px 30px 100px;
            font-family: 'Courier New', Courier, monospace;
        }
        
        p {
            width: 90%;
            text-align: justify;
            color: white;
            padding: 70px 0px 30px 100px;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}

.background-3 {
    width: 100%;
    height: 670px;
    background-image: url('/assets/img/STARSHIP-b3.webp');
    background-size: cover;
}
